<%- include("header");%>
<div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Registered Candidates Details</h1>
      <!-- <p class="lead">Don't keep your secrets, share them anonymously!</p> -->
     <h1> <%=keyfordata%></h1>
     <% keyforuser.forEach(function(item){%>
      <div id="cardInsecret">  
        <div class="col-lg-12  pricing-column" >
          <div class="card">
          <div class="card-body">
            <h3>Name :<%=item.firstname%> <%=item.lastname%></h3>
            <h3>Email:<%=item.email%></h3>
            <h3>Mobile no:<%=item.mobileno%></h3>
            <h3>College:<%=item.college%></h3>
            <h3>Query:<%=item.message%></h3>
          </div>
      </div>
    </div>  
      </div>      
      <%})%>

      <hr>
      <a class="btn btn-light btn-lg" href="/" role="button">home</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  
    </div>
  </div>
  
<%- include("footer");%>
 

 